{%  extends 'Base.html' %}
{% block content %}
<style>
	#card-title{
		background-color: #17ac1f;
		color: white;
		font-size:13px;
		text-align: center;
	}
</style>

<br>
<div class="container">
	<div class="row">
		<div class="card-header mb-3 text-center" id=card-title>
			<h5  class="card-title">TASK UPDATE</h5>
	  	</div>
			<div class="card mb-3 card-body text-center">
				<div id="table-short">
					<form action="" method="POST" id="form1">
						{% csrf_token %}
						<hr>Title
						<br>{{form.title}}
						<hr>Deadline(MM/DD/YYYY)
						<br>{{form.deadline}}
						<hr>Team
						<br>{{form.team}}
				</div>
			</div>
			<div class="card mb-3 card-body text-center">
				<div id="table-short">
						<hr>Finished ?
						<br style="margin-bottom: 6px;">{{form.finished}}
						<hr>Description
						<br>{{form.description}}
					</form>
				</div>
			</div>
	</div>
</div>
<br>
<div class="row" style="margin-left: 865px;">
			<div id="table-short">
				<button class="btn btn-success  btn" form="form1" type="submit">Update</button></input>
			</div>

			<div id="table-short">
				<a class="btn btn-warning  btn" style="margin-left: 10px;" href="{% url 'taskCreate' %}">Cancel</a>
		</div>
</div>

{% endblock %}