{%  extends 'Base.html' %}
{% block content %}

<style>
		#table-title1{
		background-color: #108316;
		color: white;
		font-size:13px;
		text-align: center;
	}
	
	#table-title2{
		background-color: #7a1321;
		color: white;
		font-size:13px;
		text-align: center;
	}
	
	#table-search-title{
		background-color: #3c7690;
		color: white;
	}
	
	#table-search {
	  height: 800px;
	  font-size:12px;
	  overflow-y: auto;
	}
	
	#title-font{
		font-size:14px;
		text-align: left;
	}
	
	#table-short {
		height: 400px;
		overflow-y: auto;
	}
	
	#table-font{
		font-size:13px;
		text-align: left;
	}
</style>
<br>

<div class="container-md rounded p-3 bg-dark text-white">
	<div class="row">
		<div class="col-sm-3">	
			<h5>TOTAL PERFORMANCE:</h5>
			<hr>
			<div class="card card-body">
				<div id="myChart"></div>
			</div>
		</div>
		<div class="col-sm-3">	
			<h5>YOUR PERFORMANCE:</h5>
			<hr>
			<div class="card card-body">
				<div id="UserChart"></div>
	
			</div>
		</div>
		<div class="col-sm-3">	
			<h5>YOUR PERFORMANCE OVER TOTAL:</h5>
			<hr>
			<div class="card card-body">
				<div id="TotalP"></div>
	
			</div>
		</div>

		<div class="col-sm-3">
			<h5>TOTAL ACTIVE PROCESSES:</h5>
			<hr>	
			<h4>Audit findings: </h4><h6>NCRs: {{reportsNCR}}</h6><h6>OFIs: {{reportsOFI}}</h6>

			<h4>Risks: {{risksT}}</h4><h6>High Priority: {{risksH}}</h6><h6>Low Priority: {{risksL}}</h6>

			<h4>Projects: {{pobjsF}}</h4><h6>closed: {{pobjsT}}</h6>

			<h4>Tasks: {{tasksF}}</h4><h6>closed: {{tasksT}}</h6>

			<h4>Complaints: {{custsT}}</h4>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-3">	
			<h5>RISK STATUS:</h5>
			<hr>
			<div class="card card-body">
				<div id="RiskPie"></div>
	
			</div>
		</div>
		<div class="col-sm-3">	
			<h5>CUSTOMER COMPLAINTS STATUS:</h5>
			<hr>
			<div class="card card-body">
				<div id="CustsPie"></div>
	
			</div>
		</div>
		<div class="col-sm-3">	
			<h5>CUSTOMER LOCATION:</h5>
			<hr>
			<div class="card card-body">
				<div id="CustsLoc"></div>
	
			</div>
		</div>
	</div>
</div>



<br>
<br>
<div class="row">
	<div class="col md-6">
		<div class="card text-center mb-3">
			<div class="card-header"  id="table-title1">
				<h5 class="card-title"> YOUR CURRENT PROJECTS</h5>
			</div>
			<div id="table-short">
				<table class="table table-striped table-bordered projects" style="width: 100%">
					<thead>
						<tr id="table-title1">
							<th>Name</th>
							<th>Starter</th>
							<th>Team</th>
							<th>Started</th>
							<th>Deadline</th>
						</tr>
					</thead>
					<tbody id="table-font" >
					{% for p in pobjs %}
						{% if p.finished == False %}
							{% for team in p.team.all %}
								{% if team == request.user or creator == request.user %}
									<tr >
									<td>{{p.name}}</td>
									<td>{{p.creator}}, </td>
									<td>
									{% for team in p.team.all %}
										{{team}},
									{% endfor %}
									</td>
									<td>{{p.dateCreated}}</td>
									<td>{{p.deadline}}</td>
								{% endif %}
							{% endfor %}		
						{% endif %}
					{% endfor %}
					</tbody>
					<tfoot>
						
					</tfoot>
					
					
				</table>
			</div>
		</div>
	</div>
	<div class="col md-6">
		<div class="card text-center mb-3">
			<div class="card-header"  id="table-title2">
				<h5 class="card-title"> YOUR CURRENT TASKS</h5>
			</div>
			<div id="table-short">
				<table class="table table-striped table-bordered projects" style="width: 100%">
					<thead>
						<tr id="table-title2">
							<th>Name</th>
							<th>Project</th>
							<th>Starter</th>
							<th>Team</th>
							<th>Started</th>
							<th>Deadline</th>
							<th>Completed</th>
						</tr>
					</thead>
					<tbody id="table-font" >
					{% for t in tasks %}
						{% if t.finished == False %}
							{% for team in t.team.all %}
								{% if team == request.user or creator == request.user %}
								<tr >
									<td>{{t.title}}</td>
									<td>{{t.project}}</td>
									<td>{{t.creator}}, </td>
									<td>
									{% for team in t.team.all %}
										{{team}},
									{% endfor %}
									</td>
									<td>{{t.dateCreated}}</td>
									<td>{{t.deadline}}</td>
									<td>{{t.dateFinished}}</td>
								{% endif %}
							{% endfor %}		
						{% endif %}
					{% endfor %}
					</tbody>
					<tfoot>
						
					</tfoot>
					
					
				</table>
			</div>
		</div>
	</div>
</div>

<br>
<div class="row">
</div>
<!--type="text/javascript" for direct response use without JsonResponse-->
<script>
	
	var state ={
		'items':[],
		'values':[],
	}
	var dataURL = `/prefChart/`
	$.ajax({
		method: 'GET',
		url:dataURL,
		success:function(data1){
			console.log('RESPONSE:', data1)
			for (var i in data1.months){
				state.items.push(data1.months[i])
			}
			for (var i in data1.performance){
				state.values.push(data1.performance[i])
				total.first.push(data1.performance[i])
			}
			

			console.log('STATE:', state)
			
			buildChart()
			
		}
	})

	function buildChart(){
		var chartData = {
			"type":"line",
			"scale-x":{
				"values": state.items,
				label: {text: 'Months'},
			},
			"series":[
				{
					"values": state.values,
					
				},
				
			],
			"plot" :{
				"animation":{
					"effect": 2,
					"speed": 4
				}
			}
		}
		zingchart.render({
			id: "myChart",
			data:chartData,
			height: 300,
      		width: "100%"
		})
	}

	var state2 ={
		'items':[],
		'values':[],
	}
	var dataURL = `/perPersonChart/`
	$.ajax({
		method: 'GET',
		
		url:dataURL,
		success:function(data2){
			console.log('RESPONSE:', data2)
			for (var i in data2.months){
				state2.items.push(data2.months[i])
			}
			for (var i in data2.performance){
				state2.values.push(data2.performance[i])
				total.second.push(data2.performance[i])
			}
			

			console.log('STATE:', state2)
			buildChart2()
			
		}
	})

	function buildChart2(){
		var chartData2 = {
			"type":"line",
			"scale-x":{
				"values": state2.items,
				label: {text: 'Months'},
			},
			"series":[
				{
					"values": state2.values,
				}
			],
			"plot" :{
				"animation":{
					"effect": 2,
					"speed": 4
				}
			}
		}
		zingchart.render({
			id: "UserChart",
			data:chartData2,
			height: 300,
      		width: "100%"
		})
	}

	var total ={
		'first':[],
		'second':[],
	}

	function buildChart3(){
		var chartData3 = {
			"type":"bar",
			"subtitle": {
				"text": "Total Actions(Blue) | Your Actions(Red)"
			},	
			"series":[
				{
					"values": total.first,
					label: {text: 'number of tasks'},
				},
				{
					"values": total.second,
					label: {text: 'number of tasks'},
				}
			],
			"plot" :{
				"animation":{
					"effect": 2,
					"speed": 4
				}
			}
		}
		zingchart.render({
			id: "TotalP",
			data:chartData3,
			height: 300,
      		width: "100%"
		})
	}

	var riskcount ={
		'openl':[],
		'in_progl':[],
		'closedl':[],
	}
	var dataURL = `/riskPer/`
	$.ajax({
		method: 'GET',		
		url:dataURL,

		success:function(riskslist){
			console.log('RESPONSE:', riskslist)
			
			riskcount.openl.push(riskslist.open)
			riskcount.in_progl.push(riskslist.in_prog)
			riskcount.closedl.push(riskslist.closed)
			console.log('this:', riskcount)
			buildChart4()
			buildChart3()
		}
	})

	function buildChart4(){
		var chartData3 = {
			"type": "pie",
			"subtitle": {
				"text": "Open(Green) | In Progress(Blue) | Closed(Red)"
			},
			"series":[
				{
					"values": riskcount.openl,
					'background-color': "#4cbb17",
					"text": "Open",
					label: {text: 'Open'},

				},
				{
					"values": riskcount.in_progl,
					'background-color': "#45b6fe",
					"title": "In Progress"

				},
				{
					"values": riskcount.closedl,
					'background-color': "#d30000",
					"text": "Closed"
				}
			],
			"plot" :{
				"animation":{
					"effect": 2,
					"speed": 4
				}
			}
		}
		zingchart.render({
			id: "RiskPie",
			data:chartData3,
			height: 300,
      		width: "100%"
		})
	}

	var custscount ={
		'openl':[],
		'in_progl':[],
		'closedl':[],
	}
	var dataURL = `/customerPer/`
	$.ajax({
		method: 'GET',		
		url:dataURL,

		success:function(custslist){
			console.log('RESPONSE:', custslist)
			
			custscount.openl.push(custslist.open)
			custscount.in_progl.push(custslist.in_prog)
			custscount.closedl.push(custslist.closed)
			buildChart5()
		}
	})

	function buildChart5(){
		var chartData4 = {
			"type": "pie",
			"subtitle": {
				"text": "Open(Green) | In Progress(Blue) | Closed(Red)"
			},
			"series":[
				{
					"values": custscount.openl,
					'background-color': "#4cbb17",
					"text": "Open"

				},
				{
					"values": custscount.in_progl,
					'background-color': "#45b6fe",
					"text": "In Progress"
				},
				{
					"values": custscount.closedl,
					'background-color': "#d30000",
					"text": "Closed"
				}
			],
			"plot" :{
				"animation":{
					"effect": 2,
					"speed": 4
				}
			}
		}
		zingchart.render({
			id: "CustsPie",
			data:chartData4,
			height: 300,
      		width: "100%"
		})
	}

	var customerloc ={
		'location_1':[],
		'location_2':[],
		'location_3':[],
		'location_4':[],
		'location_5':[],
		'location_6':[],
	}
	var dataURL = `/customerLoc/`
	$.ajax({
		method: 'GET',		
		url:dataURL,

		success:function(custslocation){
			console.log('RESPONSE:', custslocation)
			
			customerloc.location_1.push(custslocation.location1)
			customerloc.location_2.push(custslocation.location2)
			customerloc.location_3.push(custslocation.location3)
			customerloc.location_4.push(custslocation.location4)
			customerloc.location_5.push(custslocation.location5)
			customerloc.location_6.push(custslocation.location6)
			buildChart6()
		}
	})

	function buildChart6(){
		var chartData5 = {
			"type": "pie",
			"subtitle": {
				"text": "Blog(Green) | Media(Blue) | Friend(Red)\nGoogle(Orange) | Product(Grey) | Employee(Purple)"
			},
			"series":[
				{
					"values": customerloc.location_1,
					'background-color': "#4cbb17",
					"text": "Blog"

				},
				{
					"values": customerloc.location_2,
					'background-color': "#45b6fe",
					"text": "Social Media"
				},
				{
					"values": customerloc.location_3,
					'background-color': "#d30000",
					"text": "Friend"
				},
				{
					"values": customerloc.location_4,
					'background-color': "#767676",
					"text": "Google Search"

				},
				{
					"values": customerloc.location_5,
					'background-color': "#ffaa00",
					"text": "Product"
				},
				{
					"values": customerloc.location_6,
					'background-color': "#664596",
					"text": "Company"
				}
			],
			"plot" :{
				"animation":{
					"effect": 2,
					"speed": 4
				}
			}
		}
		zingchart.render({
			id: "CustsLoc",
			data: chartData5,
			height: 300,
      		width: "100%"
		})
	}

</script>

{% endblock %}