{%  extends 'Base.html' %}
{% block content %}

<style>
		#table-title1{
		background-color: #108316;
		color: white;
		font-size:13px;
		text-align: center;
	}
	
	#table-title2{
		background-color: #7a1321;
		color: white;
		font-size:13px;
		text-align: center;
	}
	
	#table-search-title{
		background-color: #3c7690;
		color: white;
	}
	
	#table-search {
	  height: 800px;
	  font-size:12px;
	  overflow-y: auto;
	}
	
	#title-font{
		font-size:14px;
		text-align: left;
	}
	
	#table-short {
		height: 400px;
		overflow-y: auto;
	}
	
	#table-font{
		font-size:13px;
		text-align: left;
	}
</style>

<br>

<div class="container-md rounded p-3 bg-dark text-white">
	<div class="row">
		<div class="col-sm-3">	
			<h5>YOUR PERFORMANCE:</h5>
			<hr>
			<div class="card card-body">
				<div id="UserChart"></div>
	
			</div>
		</div>
		<div class="col-sm-3">	
			<h5>YOUR PERFORMANCE OVER TOTAL:</h5>
			<hr>
			<div class="card card-body">
				<div id="TotalP"></div>
	
			</div>
		</div>

		<div class="col-sm-3">
			<h5>TOTAL ACTIVE PROCESSES:</h5>
			<hr>	
			<br>
			<h4>Audit findings: </h4><h6>NCRs: {{reportsNCR}}</h6><h6>OFIs: {{reportsOFI}}</h6>
			<br>
			<h4>Total Risks: {{risksT}}</h4>
			<br>
			<h4>Total Projects: {{pobjsT}}</h4>
			<br>
			<h4>Total Tasks: {{tasksT}}</h4>
			<br>
			<h4>Total Inprogress Complaints: {{custsT}}</h4>
			<br>
			<h4>Total Action You Performed: {{pointsT}}</h4>
			
		</div>
	</div>
</div>



<br>
<br>
<div class="row">
	<div class="col md-6">
		<div class="card text-center mb-3">
			<div class="card-header"  id="table-title1">
				<h5 class="card-title"> CURRENT PROJECTS</h5>
			</div>
			<div id="table-short">
				<table class="table table-striped table-bordered projects" style="width: 100%">
					<thead>
						<tr id="table-title1">
							<th>Name</th>
							<th>Starter</th>
							<th>Team</th>
							<th>Started</th>
							<th>Deadline</th>
						</tr>
					</thead>
					<tbody id="table-font" >
					{% for p in pobjs %}
						{% if p.finished == False %}
							{% for team in p.team.all %}
								{% if team == request.user or creator == request.user %}
									<tr >
									<td>{{p.name}}</td>
									<td>{{p.creator}}, </td>
									<td>
									{% for team in p.team.all %}
										{{team}},
									{% endfor %}
									</td>
									<td>{{p.dateCreated}}</td>
									<td>{{p.deadline}}</td>
								{% endif %}
							{% endfor %}		
						{% endif %}
					{% endfor %}
					</tbody>
					<tfoot>
						
					</tfoot>
					
					
				</table>
			</div>
		</div>
	</div>
	<div class="col md-6">
		<div class="card text-center mb-3">
			<div class="card-header"  id="table-title2">
				<h5 class="card-title"> CURRENT TASKS</h5>
			</div>
			<div id="table-short">
				<table class="table table-striped table-bordered projects" style="width: 100%">
					<thead>
						<tr id="table-title2">
							<th>Name</th>
							<th>Project</th>
							<th>Starter</th>
							<th>Team</th>
							<th>Started</th>
							<th>Deadline</th>
							<th>Completed</th>
						</tr>
					</thead>
					<tbody id="table-font" >
					{% for t in tasks %}
						{% if t.finished == False %}
							{% for team in t.team.all %}
								{% if team == request.user or creator == request.user %}
								<tr >
									<td>{{t.title}}</td>
									<td>{{t.project}}</td>
									<td>{{t.creator}}, </td>
									<td>
									{% for team in t.team.all %}
										{{team}},
									{% endfor %}
									</td>
									<td>{{t.dateCreated}}</td>
									<td>{{t.deadline}}</td>
									<td>{{t.dateFinished}}</td>
								{% endif %}
							{% endfor %}		
						{% endif %}
					{% endfor %}
					</tbody>
					<tfoot>
						
					</tfoot>
					
					
				</table>
			</div>
		</div>
	</div>
</div>

<br>
<div class="row">
</div>
<!--type="text/javascript" for direct response use without JsonResponse-->
<script>
	
	var state ={
		'items':[],
		'values':[],
	}
	var dataURL = `/prefChart/`
	$.ajax({
		method: 'GET',
		url:dataURL,
		success:function(data1){
			console.log('RESPONSE:', data1)
			for (var i in data1.months){
				state.items.push(data1.months[i])
			}
			for (var i in data1.performance){
				state.values.push(data1.performance[i])
				total.first.push(data1.performance[i])
			}
			

			console.log('STATE:', state)
			
			buildChart()
			
		}
	})

	function buildChart(){
		var chartData = {
			"type":"line",
			"scale-x":{
				"values": state.items,
				label: {text: 'Months'},
			},
			"series":[
				{
					"values": state.values,
					label: {text: 'number of tasks'},
				}
			],
			"plot" :{
				"animation":{
					"effect": 2,
					"speed": 4
				}
			}
		}
		zingchart.render({
			id: "myChart",
			data:chartData,
			height: 400,
      		width: "100%"
		})
	}

	var state2 ={
		'items':[],
		'values':[],
	}
	var dataURL = `/perPersonChart/`
	$.ajax({
		method: 'GET',
		
		url:dataURL,
		success:function(data2){
			console.log('RESPONSE:', data2)
			for (var i in data2.months){
				state2.items.push(data2.months[i])
			}
			for (var i in data2.performance){
				state2.values.push(data2.performance[i])
				total.second.push(data2.performance[i])
			}
			

			console.log('STATE:', state2)
			buildChart2()
			buildChart3()
		}
	})

	function buildChart2(){
		var chartData2 = {
			"type":"line",
			"scale-x":{
				"values": state2.items,
				label: {text: 'Months'},
			},
			"series":[
				{
					"values": state2.values,
					label: {text: 'number of tasks'},
				}
			],
			"plot" :{
				"animation":{
					"effect": 2,
					"speed": 4
				}
			}
		}
		zingchart.render({
			id: "UserChart",
			data:chartData2,
			height: 400,
      		width: "100%"
		})
	}

	var total ={
		'first':[],
		'second':[],
	}

	function buildChart3(){
		var chartData3 = {
			"type":"bar",
				
			"series":[
				{
					"values": total.first,
					label: {text: 'number of tasks'},
				},
				{
					"values": total.second,
					label: {text: 'number of tasks'},
				}
			],
			"plot" :{
				"animation":{
					"effect": 2,
					"speed": 4
				}
			}
		}
		zingchart.render({
			id: "TotalP",
			data:chartData3,
			height: 400,
      		width: "100%"
		})
	}

</script>

{% endblock %}