{%  extends 'Base.html' %}
{% block content %}
<style>
	#card-title{
		background-color: #17ac1f;
		color: white;
		font-size:13px;
		text-align: center;
	}
</style>

<br>
<div class="container">
	<div class="row">
		<div class="card-header mb-3 text-center" id=card-title>
			<h5  class="card-title">PROJECT UPDATE</h5>
	  	</div>
			<div class="card mb-3 card-body text-center">
				<div id="table-short">
					<form action="" method="POST" id="form1">
						{% csrf_token %}
						<hr>Title
						<br>{{form.name}}
						<hr>Deadline(MM/DD/YYYY)
						<br>{{form.deadline}}
						<hr>Finished ?
						<br style="margin-bottom: 78px;">{{form.finished}}
						<hr>Description
						<br>{{form.description}}			
				</div>
			</div>
			<div class="card mb-3 card-body text-center">
				<div id="table-short">
						<hr>Scope
						<br>{{form.scope}}
						<hr>Business Case
						<br>{{form.businessCase}}
				</div>
			</div>
			<div class="card mb-3 card-body text-center">
				<div id="table-short">
						<hr>Team
						<br>{{form.team}}
						<hr>Budget
						<br style="margin-bottom: 63px;">{{form.budget}}
						<hr>Sponsors
						<br>{{form.sponsors}}
					</form>
				</div>
			</div>
	</div>
</div>
<br>
<div class="row" style="margin-left: 865px;">
	<div id="table-short">
		<button class="btn btn-success  btn" form="form1" type="submit">Update</button></input>
	</div>

	<div id="table-short">
		<a class="btn btn-warning  btn" style="margin-left: 10px;" href="{% url 'projectCreate' %}">Cancle</a>
	</div>
</div>

{% endblock %}